p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2;
   -webkit-box-orient: vertical;
  }
body {
  margin: 0 20px 0 0;
  padding: 70px 0 0 85px;
  font-family: Roboto, Arial;
}

a, a:hover, a:visited, a:focus, a:active  {
  text-decoration: none;
  color: inherit;
  outline: 0;
}